<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="NekoDrive.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <NekoDrive.Properties.Settings>
            <setting name="ServerAddress" serializeAs="String">
                <value>192.168.0.102</value>
            </setting>
            <setting name="DefaultProtocol" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="UserId" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="GroupId" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="AutoConnect" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RemoteDevice" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DriveLetter" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="AutoMount" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DriveLabel" serializeAs="String">
                <value>NekoDrive</value>
            </setting>
            <setting name="Timeout" serializeAs="String">
                <value>60000</value>
            </setting>
            <setting name="Unicode" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Folder" serializeAs="String">
                <value>Browse...</value>
            </setting>
            <setting name="DiskOrFolder" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UsePrivilegedPorts" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UserIndex" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="GroupIndex" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="OtherIndex" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="NoCache" serializeAs="String">
                <value>False</value>
            </setting>
        </NekoDrive.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
